/*---------Наша команда----------------*/
.section-command {
    background-color: var(--light-bg-color);
}

.members-list {
    display: flex;
}

.member-item {
    width: 270px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-item:not(:last-child) {
    margin-right: 30px;
}

.member-info {
    padding: 30px 32px;
}

.member-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.member-descr {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.member-icons {
    display: flex;
}

.member-icon-item {
    width: 44px;
    height: 44px;
}

.member-icon-item:not(:last-child) {
    margin-right: 10px;
}

.member-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--icon-bg-color);
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-icon-link:hover,
.member-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.member-icon {
    width: 20px;
    height: 20px;

    fill: currentColor;
}